extends ../layout

block title
	title НАШИ БЛОГ

block content_style
	link(rel='stylesheet', type='text/css', href='/styles/post.css' + version)

block content_scripts
	script(type='text/javascript', src='/scripts/post.js' + version)

block content
	.content_menu_block
		a.content_menu_item(href='/blog/design') ДИЗАЙН
		a.content_menu_item(href='/blog/art') ИССКУСТВО И ФОТОГРАФИЯ
		a.content_menu_item(href='/blog/architecture') АРХИТЕКТУРА
		a.up(href='#') ПОДПИСАТЬСЯ
	.content_images_block
		each image in post.images
			img.image(src=image)
	.content_body_block
		img.image_preview
		.content_description_block
			.content_title= post.ru.title
			.content_s_title= post.ru.s_title
			.content_quote= post.ru.quote
			.content_body= post.ru.body
	.content_related_block
		.r_title похожие
		each r_post in r_posts
			a(href='/post/' + r_post._id)
				img.r_post(src=r_post.images[0])